<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Figure Checking" parallel="tests" thread-count="5">

	<parameter name="suite-name" value="Figure Checking" />
	<parameter name="grid-type" value="local" />
	<parameter name="log-folder" value="C:/Selenium/Logs" />
	<parameter name="test-domain" value="eap" />
	<parameter name="platform" value="windows" />
	<parameter name="browser" value="firefox" />
	<parameter name="version" value="ANY" />

	<test name="FigChk00001">
		<parameter name="school" value="EAP Phase 3 Measure Test" />
		<parameter name="username" value="tesaut174544" />
		<parameter name="password" value="TxQnVnUx5" />
		<parameter name="cohort" value="17" />
		<parameter name="eapYear" value="11" />
		<parameter name="dataset" value="Mocks" />
		<parameter name="area" value="A8/P8" />
		<parameter name="report" value="Overview" />
		<parameter name="level" value="Students" />
		<parameter name="tableNames" value="Overview" />
		<parameter name="dataFiles" value="2446_17_A8P8_Overview_001.csv" />
		<classes>
			<class name="tests.reports.FigureChecking" />
		</classes>
	</test>

</suite>